.title-box {
    margin-bottom: 10px;
    padding: 30px;

    p {
        margin-top: 15px;
    }

    h1, p {
        color: #424143;
    }
}

.tester {
    cursor: move;
    span {
        display: none;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;

    button {
        border: none;
        background: #636466;
        color: white;
        padding: 10px 20px;

        &:focus {
            border: none;
            outline: none;
        }

        &:hover {
            cursor: pointer;
            background:#636466bd;
        }
    }
}

.filed-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    padding-left: 10px;

    span {
        position: absolute;
        left: 2px;
        bottom: 3px;
        color: #d1d2d3;
        font-size: 30px;

        &:hover {
            cursor: move;
        }
    }

    .single-list-item {
        width: calc(50% - 20px);
        position: relative;
        padding-left: 20px;

        &:nth-child(odd) {
            margin-right: 20px;
        }

        span {
            display: none;
        }

        &:hover {
            span {
                display: block;
            }
        }
    }
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}